<div class="forgot-password-container" *ngIf="!forgotPasswordSuccess">
    <div class="card custom-card">
        <form class="card-body custom-card-body" [formGroup]="forgotPasswordForm" (submit)="onSubmit()">
            <h3 class="custom-card-title">Password assistance</h3>
            <p class="custom-card-subtitle">Enter the email address associated with your Swapy account</p>
            <div id="emailGroup" class="custom-default-card-group">
                <input type="text" required="required" formControlName="email" (blur)="onInputBlur('email')"/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="input-placeholder">Email</label>
                <ng-container *ngIf="email?.touched">
                    <label *ngIf="email?.errors?.['required']" class="input-error">* Email field is required</label>
                    <label *ngIf="email?.errors?.['pattern']" class="input-error">* Invalid Email field</label>
                </ng-container>
            </div>
            <button class="custom-card-button" type="submit">Continue</button>
            <label *ngIf="emailNotFoundError" class="custom-card-form-error">* Email address not found</label>
            <label *ngIf="unconfirmedEmailError" class="custom-card-form-error">* Email address not confirmed</label>
            <div class="custom-card-footer">
                <p class="custom-card-text">Remembered password?</p>
                <a class="custom-card-link" href="/auth/login">Sign In</a>
            </div>
        </form>
    </div>
</div>

<div class="forgot-password-container" *ngIf="forgotPasswordSuccess">
    <div class="card custom-card">
        <div class="card-body custom-card-body">
            <h3 class="custom-card-title">Email Sent Successfully <i class="fa-solid fa-circle-check"></i></h3>
            <p class="custom-card-subtitle">Please check your email and follow the instructions to reset your password</p>
            <button class="custom-card-button" type="submit" (click)="backToLogin()">Back to login</button>
        </div>
    </div>
</div>