<div class="change-password-container">
    <form class="card-body custom-card-body" [formGroup]="changePasswordForm" (submit)="onSubmit()">
        <div id="oldPasswordGroup" class="custom-default-card-group">
            <div style="position: relative">
                <input id="oldPasswordInput" [type]="showOldPassword ? 'text' : 'password'" required="required" formControlName="oldPassword" (blur)="onInputBlur('oldPassword')">
                <i id="old-eye-icon" class="fa-solid fa-eye eye-icon" (click)="onShowPassword('oldPasswordInput')"></i>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="input-placeholder">Old password</label>
            </div>
            <ng-container *ngIf="oldPassword?.touched">
                <label *ngIf="oldPassword?.errors?.['required']" class="input-error">* Old password field is required</label>
                <label *ngIf="oldPassword?.errors?.['pattern']" class="input-error">* Old password field must be at least 8 and no more than 32 characters long, contain at least one number, one uppercase, one lowercase, and one special character</label>
            </ng-container>
        </div>
        <div id="newPasswordGroup" class="custom-default-card-group">
            <div style="position: relative">
                <input id="newPasswordInput" [type]="showNewPassword ? 'text' : 'password'" required="required" formControlName="newPassword" (blur)="onInputBlur('newPassword')">
                <i id="new-eye-icon" class="fa-solid fa-eye eye-icon" (click)="onShowPassword('newPasswordInput')"></i>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="input-placeholder">New password</label>
            </div>
            <ng-container *ngIf="newPassword?.touched">
                <label *ngIf="newPassword?.errors?.['required']" class="input-error">* New password field is required</label>
                <label *ngIf="newPassword?.errors?.['pattern']" class="input-error">* New password field must be at least 8 and no more than 32 characters long, contain at least one number, one uppercase, one lowercase, and one special character</label>
            </ng-container>
        </div>
        <div id="confirmPasswordGroup" class="custom-default-card-group">
            <div style="position: relative">
                <input id="confirmPasswordInput" [type]="showConfirmPassword ? 'text' : 'password'" required="required" formControlName="confirmPassword" (blur)="onInputBlur('confirmPassword')">
                <i id="confirm-eye-icon" class="fa-solid fa-eye eye-icon" (click)="onShowPassword('confirmPasswordInput')"></i>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="input-placeholder">Confirm password</label>
            </div>
            <ng-container *ngIf="confirmPassword?.touched">
                <label *ngIf="confirmPassword?.errors?.['required']" class="input-error">* Confirm new password field is required</label>
                <label *ngIf="confirmPassword?.errors?.['pattern']" class="input-error">* Confirm new password field must be at least 8 and no more than 32 characters long, contain at least one number, one uppercase, one lowercase, and one special character</label>
            </ng-container>
        </div>
        <div class="custom-card-option">
            <a class="custom-option-link" href="/auth/forgot-password">Forgot password?</a>
        </div>
        <button class="custom-card-button" type="submit">Change password</button>
        <label *ngIf="oldPasswordIncorrect" class="custom-card-form-error">* Old password is not correct</label>
        <label *ngIf="oldAndNewPasswordEquals" class="custom-card-form-error">* Old and new password cannot match</label>
        <label *ngIf="newAndConfirmPasswordNotEquals" class="custom-card-form-error">* Old and new password cannot match</label>
    </form>
</div>