$primary: #3a5a3d;
$secondary: #d1e2c4;
$additional: #ebebe8;
$black: #181818;
$white: #ffffff;
$invalid-red: red;
$valid-green: green;
$warning-yellow: #e9d502;
$scroll-white: #f1f1f1;
$scroll-gray: #888;
$scroll-black: #555;
$notification-red: #d10000;