@import "/src/colors.scss";

$width: 100%; 
$trans-time: 300ms; 
$checkbox-border: #D1D6EE;
 
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.login-container {
    height: calc(100% + 5rem);
    margin: auto;
    display: grid;
    max-width: 35rem;
    user-select: none;
    align-items: center;
    padding-bottom: 5rem;
    justify-content: center;
    grid-template-columns: 1fr;
    
    .custom-card {
        display: grid;
        max-width: 35rem;
        background-color: $additional;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        
        @media (max-width: 580px) {
            margin-top: 1rem; 
            margin-left: 1rem;
            margin-right: 1rem;
        }

        .custom-card-body {
            display: flex;
            margin: 0 2rem;
            align-items: center;
            flex-direction: column;
            
            .custom-card-title { 
                display: flex;
                margin: 2rem 0;
                color: $primary; 
                align-items: center;

                @media (max-width: 286px) {
                    margin-top: 0.5rem;
                    margin-bottom: 1.2rem;
                    font-size: calc(1.2rem + .9vw);
                }

                @media (max-width: 308px) { text-align: center; }
            }

            .custom-card-subtitle {
                margin-top: 0; 
                color: $primary; 
                text-align: center;
                margin-bottom: 1rem;

                @media (max-width: 374px) {
                    font-size: 0.8rem;
                }
            }

            .custom-default-card-group { 
                width: $width;
                position: relative; 
                margin-bottom: 1rem;
                margin-top: 0.63rem; 

                input[type="text"], input[type="password"] {
                    border: none;
                    width: $width;
                    color: $black;
                    display: block;
                    border-radius: 0; 
                    background: none;
                    font-size: 1.05rem;
                    padding: 0.63rem 0.63rem 0.63rem 0.3rem;
                    border-bottom: 1px solid $black;
                    
                    &:focus { outline: none; } 
                    
                    &:focus ~ label, &:valid ~ label { 
                        top: -0.7rem; 
                        font-size: 0.8rem; 
                        color: $black; 
                    } 
                    
                    &:focus ~ .bar:before { width: $width; } 
                }

                input[type="password"] { 
                    margin-right: 2rem;
                    padding-right: 2rem;
                    letter-spacing: 0.3em; 
                } 

                #passwordInput { padding-right: 1.8rem; }

                .eye-icon {
                    top: 30%;
                    right: 0;
                    font-size: 1.3rem;
                    cursor: pointer;
                    position: absolute;
                }

                .input-placeholder {
                    left: 0.35rem; 
                    top: 0.60rem; 
                    font-size: 1rem; 
                    position: absolute; 
                    color: $black; 
                    font-weight: normal; 
                    pointer-events: none; 
                    transition: $trans-time ease all; 

                    @media (max-width: 302px) {
                        font-size: 0.9rem; 
                    }

                    @media (max-width: 284px) {
                        font-size: 0.8rem; 
                    }
                } 
                
                .bar { 
                    position: relative; 
                    display: block; 
                    width: $width; 
                    
                    &:before { 
                        width: 0; 
                        left: 0%; 
                        content: ''; 
                        height: 2px; 
                        bottom: 0px; 
                        position: absolute; 
                        background: $black; 
                        transition: $trans-time ease all; 
                    } 
                }

                .input-error {
                    top: -0.7rem; 
                    transition: 0.3s;
                    font-size: 0.8rem; 
                    color: $invalid-red; 
                }
            } 
            
            .custom-invalid-card-group {
                input[type="text"], input[type="password"] {
                    color: $invalid-red;
                    border-bottom: 1px solid $invalid-red;
                    
                    &:focus ~ label, &:valid ~ label { color: $invalid-red; }
                }

                .input-placeholder { color: $invalid-red; }
                
                .bar { 
                    &:before {  background: $invalid-red; }
                }

                .input-error {
                    display: block;
                }
            }

            .custom-valid-card-group {
                input[type="text"], input[type="password"] {
                    color: $valid-green;
                    border-bottom: 1px solid $valid-green;
                    
                    &:focus ~ label, &:valid ~ label { color: $valid-green; }
                }

                .input-placeholder { color: $valid-green; }
                
                .bar { 
                    &:before {  background: $valid-green; }
                }

                .input-error { display: none; }
            }

            .custom-card-option {
                display: flex;
                width: $width;
                align-items: center;
                justify-content: space-between;

                .custom-option-checkbox-group {
                    display: flex;
                    position: relative;
                    align-items: center;
                    --border: #D1D6EE;
                    --border-hover: #BBC1E1;
                    --border-active: #1E2235;
                    
                    input[type="checkbox"], .custom-option-checkbox-svg {
                        width: 1.5rem;
                        height: 1.5rem;
                        display: block;
                    }

                    input[type="checkbox"] {
                        margin: 0;
                        padding: 0;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        border-radius: 0.3rem;
                        position: relative;
                        -moz-appearance: none;
                        -webkit-appearance: none;
                        transition: box-shadow .3s;
                        background: var(--background);
                        box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
                        
                        @media (hover: hover) { 
                            &:hover{ 
                                --s: 2px;
                                --b: var(--border-hover);
                            } 
                        } 

                        @media (hover: none) { 
                            &:active{ 
                                --s: 2px;
                                --b: var(--border-hover);
                            } 
                        }
                        
                        &:checked { --b: var(--border-active); }
                    }

                    .custom-option-checkbox-svg {
                        top: 0;
                        left: 0;
                        fill: none;
                        width: 1.5rem;
                        height: 1.5rem;
                        stroke-width: 2px;
                        position: absolute;
                        pointer-events: none;
                        stroke-linecap: round;
                        stroke-linejoin: round;
                        stroke: var(--stroke, var(--border-active));
                        transform: scale(var(--scale, 1)) translateZ(0);
                    }
                    
                    //Animation
                    & {
                        input[type="checkbox"] {
                            &:checked {
                                --s: 2px;
                                transition-delay: .4s;
                                
                                & + .custom-option-checkbox-svg {
                                    --a: 16.1 86.12;
                                    --o: 102.22;
                                }
                            }
                        }
                        .custom-option-checkbox-svg {
                            stroke-dasharray: var(--a, 86.12);
                            stroke-dashoffset: var(--o, 86.12);
                            transition: stroke-dasharray .6s, stroke-dashoffset .6s;
                        }
                    }

                    .custom-option-checkbox-label {
                        margin-left: 0.3rem;
                    }

                    @media (max-width: 395px) {
                        margin-top: 0.5rem;
                        margin-bottom: 0.8rem;
                    }
                }

                .custom-option-link { 
                    color: $black;
                    transition: 0.3s;

                    @media (hover: hover) { 
                        &:hover { color: lighten($black, 15%); } 
                    } 
                    
                    @media (hover: none) { 
                        &:active { color: lighten($black, 15%); }
                    }
                }

                @media (max-width: 395px) { flex-direction: column; }
            }
            
            .custom-card-button {
                width: $width;
                height: 2.6rem;
                margin: 2rem 0;
                color: $primary;
                font-size: 1.3rem;
                border-radius: 0.5rem;
                border: 1px $primary solid;
                background-color: $secondary;
                transition: 0.3s;

                @media (hover: hover) { 
                    &:hover { 
                        color: $additional;
                        border: 1px $secondary solid;
                        background-color: $primary;
                    } 

                    &:active { 
                        color:$additional;
                        background-color: lighten($primary, 5%) 
                    }
                } 
                
                @media (hover: none) { 
                    &:active { 
                        color:$additional;
                        background-color: lighten($primary, 5%) 
                    }
                }

                @media(max-width: 395px) { 
                    height: 2rem;
                    margin: 1rem 0;
                    font-size: 1.1rem;
                }
            }

            .custom-card-form-error {
                font-size: 0.8rem;
                text-align: center;
                color: $invalid-red;
                margin-bottom: 1rem;

                @media (max-width: 500px) { font-size: 0.7rem; }
            }

            .custom-card-footer {
                display: flex;
                
                @media (max-width: 362px) {
                    align-items: center;
                    flex-direction: column;

                    .custom-card-text {
                        margin: 0;
                    }
                }

                @media (max-width: 299px) { font-size: 0.86rem; }

                .custom-card-link { 
                    color: $primary; 
                    font-weight: 500;
                    transition: 0.3s;
                    text-decoration: none; 

                    @media (hover: hover) { 
                        &:hover { color: lighten($primary, 15%); } 
                    } 
                    
                    @media (hover: none) { 
                        &:active { color: lighten($primary, 15%); } 
                    }

                    @media (min-width: 363px) { margin-left: 0.2rem; }
                }
            }
        }
    }
}

.custom-modal {
    border: 0;
	width: 25rem;
    margin: auto;
    padding: 3rem;
    user-select: none;
	border-radius: 0.8rem;
	background: $additional;
	animation: fadeIn 1s ease both;
	box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
	
    &::backdrop {
        z-index: 2;
		backdrop-filter: blur(20px);
		animation: fadeIn 1s ease both;
        background: rgb(255 255 255 / 40%);
	}

    &:focus { outline: none; }
	
    .custom-modal-header {
        display: flex;
        align-items: center;
        justify-content: center;

        .custom-modal-header-title { color: $primary; }

        .custom-modal-header-close {
            top: 1rem;
            right: 0.6rem;
            border: none;   
            cursor: pointer;
            background: none;
            filter: grayscale(1);
            position: absolute;
            transform-origin: center;
            transition: ease filter, transform 0.3s;
    
            @media (hover: hover) {
                &:hover{
                    filter: grayscale(0);
                    transform: scale(1.2);
                }
            }
            @media (hover: none) {
              &:active{
                filter: grayscale(0);
                transform: scale(1.2);
              }
            }

            &:focus { outline: none; }
        }
    }

    .custom-modal-body {
        display: flex;
        margin-top: 2rem;
        align-items: center;
        justify-content: space-between;

        .custom-modal-link {
            width: 8rem;
            display: flex;
            color: $primary;
            font-weight: 500;
            line-height: 1.25;  
            text-align: center;
            align-items: center;
            border-radius: 0.3rem;
            text-decoration: none;
            justify-content: center;
            padding: 0.9rem 0.9rem;
            
            transition: all 0.3s ease;
            box-shadow: inset 0 0 0 0.1rem $primary;
            
            @media (hover: hover) {
                &:hover{
                    color: $additional;
                    background-color: $primary;
                }
            }
            @media (hover: none) {
              &:active{
                  color: $additional;
                  background-color: $primary;
              }
            }

            @media(max-width: 400px) { width: 7rem; }

            @media(max-width: 360px) { width: 6rem; }

            @media(max-width: 328px) { width: 5rem; }

            @media(max-width: 300px) { width: 4rem; }
        }
    }
}