<div class="home-wrapper">
    <div class="table-of-contents">
        <h3 class="tagline"><span class="text-color-primary">Swapy.</span> The Best Way To Find And Sell The Products You Love</h3>
        <div class="table-of-contents-question">
            <p class="question-text">Need Shopping Help?</p>
            <a class="text-color-primary question-ref" href="#">Ask specialist</a>
        </div>
    </div>

    <div class="category-section" *ngIf="categories">
      <div class="section-background"></div>
      <div class="category-slider">
          <app-category-card *ngFor="let category of categories" [category]="category"></app-category-card>
        </div>
      <div class="category-slider-controls">
        <button class="button prev">
          <i class="fa-sharp fa-solid fa-arrow-left"></i>
        </button>
        <button class="button next">
          <i class="fa-sharp fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </div>

    <div class="shop-section" *ngIf="popularShops">
      <div class="shop-section-table-of-contents">
        <p>Shops</p>
        <a href="/shops">See all</a>
      </div>
      <div class="shop-slider">
        <app-shop-card *ngFor="let shop of popularShops.items" [shop]="shop"></app-shop-card>
      </div>
      <div class="shop-slider-controls">
        <button class="button prev">
          <i class="fa-sharp fa-solid fa-arrow-left"></i>
        </button>
        <button class="button next">
          <i class="fa-sharp fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </div>

    <div class="product-section">
      <div class="product-section-table-of-contents">
        <p><span>The Lastes.</span> Take A Look At What's New, Right Now.</p>
      </div>
      <div class="products-container" *ngIf="!isLoadingProducts">
        <app-product-card *ngFor="let product of latestProducts; trackBy: trackByProductId;" [product]="product"></app-product-card>
      </div>
      <div class="products-container" *ngIf="isLoadingProducts">
        <app-product-card *ngFor="let product of latestProducts; trackBy: trackByProductId;" [product]="product"></app-product-card>
        <app-product-loading-card *ngFor="let loadingProduct of generateRange(!(latestProductsCount && allPages && currentPage) || (currentPage < allPages) ? pageSize : latestProductsCount - (pageSize * (currentPage - 1)));"></app-product-loading-card>
      </div>
      <button class="button-load-more" *ngIf="currentPage < allPages" (click)="loadLatestProducts()">Load more</button>
    </div>

</div>      