<div class="reset-password-container" *ngIf="resetPasswordProgress === 1">
    <div class="card custom-card">
        <form class="card-body custom-card-body" [formGroup]="resetPasswordForm" (submit)="onSubmit()">
            <h3 class="custom-card-title">Reset password</h3>
            <div id="newPasswordGroup" class="custom-default-card-group">
                <div style="position: relative">
                    <input id="newPasswordInput" [type]="showNewPassword ? 'text' : 'password'" required="required" formControlName="newPassword" (blur)="onInputBlur('newPassword')">
                    <i id="new-eye-icon" class="fa-solid fa-eye eye-icon" (click)="onShowPassword('newPasswordInput')"></i>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label class="input-placeholder">New password</label>
                </div>
                <ng-container *ngIf="newPassword?.touched">
                    <label *ngIf="newPassword?.errors?.['required']" class="input-error">* New password field is required</label>
                    <label *ngIf="newPassword?.errors?.['pattern']" class="input-error">* New password field must be at least 8 and no more than 32 characters long, contain at least one number, one uppercase, one lowercase, and one special character</label>
                </ng-container>
            </div>
            <div id="confirmPasswordGroup" class="custom-default-card-group">
                <div style="position: relative">
                    <input id="confirmPasswordInput" [type]="showConfirmPassword ? 'text' : 'password'" required="required" formControlName="confirmPassword" (blur)="onInputBlur('confirmPassword')">
                    <i id="confirm-eye-icon" class="fa-solid fa-eye eye-icon" (click)="onShowPassword('confirmPasswordInput')"></i>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label class="input-placeholder">Confirm password</label>
                </div>
                <ng-container *ngIf="confirmPassword?.touched">
                    <label *ngIf="confirmPassword?.errors?.['required']" class="input-error">* Confirm new password field is required</label>
                    <label *ngIf="confirmPassword?.errors?.['pattern']" class="input-error">* Confirm new password field must be at least 8 and no more than 32 characters long, contain at least one number, one uppercase, one lowercase, and one special character</label>
                </ng-container>
            </div>
            <button class="custom-card-button" type="submit">Change password</button>
            <label *ngIf="unconfirmedEmailError" class="custom-card-form-error">* Email address not confirmed</label>
            <label *ngIf="passwordEqualityError" class="custom-card-form-error">* New password and confirm password do not match</label>
        </form>
    </div>
</div>

<div class="reset-password-container" *ngIf="resetPasswordProgress === 2">
    <div class="card custom-card">
        <div class="card-body custom-card-body">
            <h3 class="custom-card-title">Password Changed Successfully <i class="fa-solid fa-circle-check"></i></h3>
            <p class="custom-card-subtitle">Your password has been successfully changed.</p>
            <p class="custom-card-subtitle">You can now log in using your new password.</p>
            <button class="custom-card-button" type="submit" (click)="backToLogin()">Back to login</button>
        </div>
    </div>
</div>

<div class="reset-password-container" *ngIf="resetPasswordProgress === 3">
    <div class="card custom-card">
        <div class="card-body custom-card-body">
            <h3 class="custom-card-title">Password Don't Changed <i class="fa-solid fa-circle-exclamation icon-error"></i></h3>
            <p class="custom-card-subtitle">Unable to change password.</p>
            <p class="custom-card-subtitle">Please check your current password and try again.</p>
            <button class="custom-card-button" type="submit" (click)="backToLogin()">Back to login</button>
        </div>
    </div>
</div>